body {
  background-color: #000000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.random-image {
  border-radius: 15px;
}

.btn {
  color: #ffffff;
  background-color: #ff0000;
  width: 8rem;
  height: 3rem;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 4rem;
}
